{%extends 'admin/AdminAllinclude.html'%}
{% block title %}
 All Rooms page
{% endblock %}
  {% block  pagecontant %}
  {% load static %}
         <!-- page content -->
      <!--************************************
			Table part start
		*************************************-->

    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3>All Rooms</h3>
            </div>
            <div class="title_right">
                <div class="pull-right add_student_link">
                    <a href="{% url 'Adminpage' %}">Home</a> <i class="fas fa-angle-right"></i> <a href="{% url 'Add_room' %}">Add Rooms</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Room Inventory</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="list-tab" data-toggle="tab" href="#List_View" role="tab" aria-controls="list" aria-selected="true">List View</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="grid-tab" data-toggle="tab" href="#Grid_view" role="tab" aria-controls="grid" aria-selected="false">Grid View</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="List_View" role="tabpanel" aria-labelledby="list-tab">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered jambo_table">
                                        <thead>
                                            <tr class="headings">
                                                <th>Room Number</th>
                                                <th>Room Type</th>
                                                <th>Room Floor</th>
                                                <th>Room Facility</th>
                                                <th>Room Price</th>
                                                <th>Date</th>
                                                <th class=" no-link last"><span class="nobr">Action</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if data %}
                                            {% for i in data %}
                                            <tr>
                                                <td>{{ i.room_number }}</td>
                                                <td>{{ i.room_type }}</td>
                                                <td>{{ i.floor }}</td>
                                                <td>{{ i.facility }}</td>
                                                <td>{{ i.price }}</td>
                                                <td>{{ i.created_at }}</td>
                                                <td class="last">
                                                    <a href="{% url 'AllRooms_Delete' id=i.id %}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                                    <a href="{% url 'EditRooms' id=i.id %}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Grid_view" role="tabpanel" aria-labelledby="grid-tab">
                                <div class="row">
                                    {% if data %}
                                    {% for i in data %}
                                    <div class="col-md-4 col-sm-4 profile_details">
                                        <div class="well profile_view">
                                            <div class="col-sm-12">
                                                <h4 class="brief"><i>{{ i.room_type }}</i></h4>
                                                <div class="left col-md-7 col-sm-7">
                                                    <h2>Room: {{ i.room_number }}</h2>
                                                    <p><strong>Floor: </strong> {{ i.floor }} </p>
                                                    <p><strong>Price: </strong> {{ i.price }} </p>
                                                    <ul class="list-unstyled">
                                                        <li><i class="fa fa-info-circle"></i> Facility: {{ i.facility }}</li>
                                                    </ul>
                                                </div>
                                                <div class="right col-md-5 col-sm-5 text-center">
                                                    {% if i.image %}
                                                    <img src="{{ i.image.url }}" alt="" class="img-fluid">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class=" profile-bottom text-center">
                                                <div class=" col-sm-6 pull-right">
                                                    <a href="{% url 'EditRooms' id=i.id %}" class="btn btn-primary btn-sm">
                                                        <i class="fa fa-pencil"> </i> Edit
                                                    </a>
                                                    <a href="{% url 'AllRooms_Delete' id=i.id %}" class="btn btn-danger btn-sm">
                                                        <i class="fa fa-trash"> </i> Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% endblock %}